h1{
    text-align: center;
    background-color: yellowgreen;
    /* margin: 0rem 1rem; */
    padding: 1rem 1rem;
    border-radius: 0.2rem;
   
}
body{
    font-family: 'Itim', cursive;
}




textarea{
    margin: 1rem;
    padding: 1 rem 0.5rem;
    display: block;
    width: 50%;
    height: 10vh;
}
#output{
    border: 1px solid black;
    height: 10vh;
    margin: 1rem;
    padding: 1 rem ;
    width: 50%;
    
    
}
