h1{
    text-align: center;
    background-color: yellowgreen;
    margin: 1.5rem 0rem;
    padding: 1rem 1rem;
    border-radius: 0.2rem;
   
}
body{
    font-family: 'Itim', cursive;
}



textarea{
   
    padding: 2 rem 0.5rem;
    display: block;
    width: 50%;
    height: 10vh;
}
#output{
    border: 1px solid black;
    height: 10vh;
    margin: 1rem  0rem;
    padding: 0.8rem 0   rem ;
    
    width: 50%;
    display: block;
    
    
}
#btn-translate{
    margin: 1rem ;
    padding: 0.2rem;
    background-color: yellowgreen;
    border-radius: 0.5rem;
}
.div{
    font-size: large; 
    padding-top: 1rem;
    
}
.footer{
    
    text-align: center;
    background-color: yellowgreen;
   margin-top: 1rem;
    padding-bottom: 0.2rem;
    border-radius: 0.2rem;
    
}
.footer .anchor{
    text-decoration: none;
   
    color: grey;
    font-size: large;
}
