h1{
    text-align: center;
    background-color: yellowgreen;
    /* margin: 1rem 0rem; */
    padding: 1rem 1rem;
    border-radius: 0.2rem;
   
}
body{
    font-family: 'Itim', cursive;
}

header{
  max-width: 150px;
}


textarea{
    /* margin: 0.5rem 0rem; */
    padding: 1 rem 0.5rem;
    display: block;
    width: 50%;
    height: 10vh;
}
#output{
    border: 1px solid black;
    height: 10vh;
    margin: orem 1rem;
    padding: 1 rem ;
    width: 50%;
    display: block;
    
    
}
#btn-translate{
    margin: 0.5rem ;
    padding: 0.2rem;
    background-color: yellowgreen;
}
.div{
    font-size: large; 
    padding: 0.8rem 0rem;
    font-display: darkblack;
}